<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Furme</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar placeholder="Busque por #"></ion-searchbar>

<img src="https://i.pinimg.com/originals/b8/7b/65/b87b6575faf711fb9b26535a6106a593.jpg">
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="newPickupCall()">
      <ion-icon name="warning-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

