<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fusca Azul</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
            <b>Código</b> <p>1</p>
            <b>Descrição</b> <p>Maçaneta</p>
            <b>Tipo</b> <p>-</p>
            <b>Preço</b> <p>RS 10,90</p>
            <b>Quantidade</b> <p>10</p>
            <b>Loja</b> <p>ExtremaCar</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
            <b>Código</b> <p>2</p>
            <b>Descrição</b> <p>Escapamento</p>
            <b>Tipo</b> <p>-</p>
            <b>Preço</b> <p>RS 64,30</p>
            <b>Quantidade</b> <p>20</p>
            <b>Loja</b> <p>BragaCar</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
            <b>Código</b> <p>3</p>
            <b>Descrição</b> <p>Pneu Aro 14"</p>
            <b>Tipo</b> <p>-</p>
            <b>Preço</b> <p>RS 349,90</p>
            <b>Quantidade</b> <p>10</p>
            <b>Loja</b> <p>CamanduCar</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
