<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Furme</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
            <b>Nome:</b> <p>Anatália</p>
            <b>Especialidades</b> <p>#Cambio #Motor</p>
            <b>Rua</b> <p>Rua 22 de Maio</p>
            <b>Número</b> <p>413</p>
            <b>Bairro</b> <p>Centro</p>
            <b>Cidade</b> <p>Extrema</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label>
                <b>Nome:</b> <p>Fábio</p>
                <b>Especialidades</b> <p>#Eletrica </p>
                <b>Rua</b> <p>Jacarandá</p>
                <b>Número</b> <p>02</p>
                <b>Bairro</b> <p>Jardim Ipê</p>
                <b>Cidade</b> <p>Itapeva</p>
              </ion-label>
            </ion-item>
          </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="newPickupCall()">
          <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          </ion-fab>
  </ion-content>
